#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.result--button{
  padding:1em;
  border-radius: 10px;
  border:none;
  background-color: darkgoldenrod;
  color:#1f1d1d;
  font-weight: 700;
}

.result--container{
  display: flex;
  justify-content: flex-end;
}



